
  <div class = "container">
<h1 class="title-principal container">Lista de Productos</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="https://imgs.search.brave.com/RYGjKPhiy8UkyqF1mrw7VdLRmoMctxFWiR0COFKq9iY/rs:fit:860:0:0/g:ce/aHR0cDovL3R1c2lt/YWdlbmVzZGUuY29t/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDE2/LzA2L2NhbXBlcmFz/LWRlLWN1ZXJvLTEu/anBn" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://imgs.search.brave.com/l5iCuTacSD4x8vr0YU240dDR76gsuWE62GFLjntpe04/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2QxLzA0/L2U4L2QxMDRlOGE0/ZTc5MjRiMTMwZTFl/YmFlZmFhZjU2NWJh/LS1hY3Rpdml0aWVz/LmpwZw" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://imgs.search.brave.com/H3M9C3icM29ay7qDfmaimc8meombaJ_Z8j5ScTtQYzc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzM5Lzdj/L2VmLzM5N2NlZjM5/Y2M1ZjVhYzFjNmFi/MDIxMDYzMmQ2Y2Qy/LS1icmFuZGVkLXNo/aXJ0cy1tZW5zLWRy/ZXNzLXNoaXJ0cy5q/cGc" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://imgs.search.brave.com/oXKRjtqK9xBtNlEUA7O6nnscdxI6PcqRjIzrzcIZJV4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTI0/OTQ5Njc3MC9lcy9m/b3RvL3phcGF0aWxs/YXMuanBnP3M9NjEy/eDYxMiZ3PTAmaz0y/MCZjPUFyajRsZkdG/bTFpZmhTYmduLWZD/M09aak16VGkzNHhF/MUVIZFQzRGtubW89" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
</div>