<h1 class="title-principal container">Lista de Productos</h1>
  <div class = "fluid row">
    <div class = "col-6 cards">
  {{#each products }}
    <div class="card container mt-3" style="width: 18rem;">
  <img src="this.thumbnail" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.description}}</p>
    <p class="card-text">PRECIO: $ {{this.price}}</p>
    <p class="card-text">STOCK: {{this.stock}}</p>
    <a href="#" class="btn btn-primary">Ver</a>
  </div>
</div>
  {{/each}}
  </div>
</div>