<div class="container mt-5" align="center" justify="center" text-align="center">
    <div class="formLogin">
        <h1 class="titleLogin">LOGIN</h1>
        <form action="/api/auth/login" method="post">
                <div class="mb-3 formLabel">
                    <label for="Email" class="form-label">Email address</label>
                    <input type="text" class="form-control" name="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 formLabel">
                    <label for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <div class = 'buttons'>
                <button type="submit" class="btn btn-warning">Login</button>
                <a class= "register" href="/api/sessions/register">Register</a>
                <a class= "register" href="/api/sessions/forgotPassword">Forgot password</a>
                </div>
            
            
            <h6>Do you have a gitHub account?</h6>
            <a class="icon-link icon-link-hover login" style="--bs-icon-link-transform: translate3d(0, -.100rem, 0);"
                href="/api/sessions/github/githubcallback">
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#clipboard"></use>
                </svg>
                Login with GitHub
            </a>
                
    </div>
    </form>
</div>
</div>