{{! Description: Vista de producto seleccionado }}
<h1 class="title-principal container">Producto seleccionado</h1>
{{#each products}}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{products.name}}</h5>
        <p class="card-text">{{products.description}}</p>
      </div>
    </div>
  </div>
</div>
{{/each}}