<div class="container mt-5" align="center" justify="center" text-align="center">
    <div class="formLogin">
    <h1 class="titleLogin mt-5">Reset password</h1>
    <form action="/api/sessions/resetPassword?token={{token}}" method="POST">
        
            <div class="formLabel mt-5">
                <label for="password" class="form-label">New password</label>
                <input type="password" class="form-control" name="password" placeholder="New password" required>
            </div>

                <button type="submit" class="btn btn-warning mt-5">SEND</button>
                {{!<input type="submit" value="Change password">}}
            
        
    </form>

</div>
</div>

<script src="/js/index.js"></script>