.navbarStyle{
    height: 6rem;
}

.navbarTittle{
    font-family: cursive;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    margin-left: 3rem;
}

.formulario{
    background-color: rgb(98, 98, 255);
    color: white;
    padding: 10px;
    margin: 0 auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-top: 9rem;
}


.title-form{
    font-weight: bold;
    font-size: 1rem;
    font-family:cursive;
    margin-top: 1rem;
}

.form-input{
    font-weight: bold;
    font-size: 1rem;
    font-family:cursive;
}

.title-principal{
    color: black;
    text-align: center;
    margin: 7rem 0 3rem 0;
    font-family: cursive;
    font-weight: bold;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.formChat{
        background-color: rgb(0, 0, 2);
        color: white;
        padding: 10px;
        margin: 0 auto;
        width: 50%;
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        margin: 12rem auto;
    
}
.boxChat{
    display: flex;
    flex-direction: row;

}

.chat{
    margin-top: 2rem;
}


.title-product{
    color: blue;
    text-align: center;
}
.box-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.formLogin{
    background-color: rgb(0, 0, 2);
    color: white;
    padding-top: 3rem;
    margin: 10rem auto;
    width: 60%;
    height: 31rem;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

.formLabel{
    margin: auto 2rem;
}
.register{
    text-decoration: none;
    display: block;
    margin-top: 0.2rem;
    color: #ffc107;
}
.login{
    text-decoration: none;
    display: block;
    margin-right: 1rem;
    color: #ffc107;
}

.formRegister{
    background-color: rgb(0, 0, 2);
    color: white;
    padding-top: 3rem;
    margin: 10rem auto;
    width: 60%;
    height: 45rem;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

.buttons{
    margin: 2rem auto;

}

.navbarPerfil{
    margin-top: 6rem;
    border-top: 1px solid white;
}

.imgHome{
    width: 40%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardModel{
    width: 20rem;
    height: 37rem;
    image-rendering: optimizeQuality;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1rem;
}
.paginate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
}